/* Основной цвет текста - #434455  */

/*  цвет  заголовка - #2E2F42 */

/* Фоновый цвет - #E5E5E5 */

/* Фоновый цвет 2 - #F4F4FD */

/* Акцент -  #4D5AE5 */

/* Белый - #ffff */

/* Лого футер цвет - #F4F4FD */

/*button active color - 404BBF */

/* Абзац  футер цвет - #E7E9FC */

:root {
--primary-text-color: #434455;
--title-text-color: #2E2F42;
--accent-color: #4D5AE5;
--primary-background-color: #E5E5E5;
--secondary-background-color: #F4F4FD;
--white-color: #FFFFFF;
--secondary-accent-color:#E7E9FC;
--button-active-color: #404BBF;
--brand-icon-color: #8E8F99;
--footer-icon-hover:#31D0AA;
--modal-window-color:#FCFCFC;
--form-text-color: #757575;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

body {
color: var(--primary-text-color);
font-family: Roboto,sans-serif;
font-size: 16px;
letter-spacing: 0.02em;
line-height: 1.5;
}

img {
display: block;
max-width: 100%;
height: auto;
}

button {
	cursor: pointer;
}

.list {
padding: 0;
margin: 0;
list-style: none;
}

.container {
width: 1158px;
margin-left: auto;
margin-right: auto;
padding: 0 15px;
}

.section {
padding-top: 120px;
padding-bottom: 120px;
}

.section-no-padding{
padding-top: 0;
padding-bottom: 120px;
}
/* Header */

.page-header {
	background-color: var(--white-color);
	border-bottom:  1px solid var(--secondary-accent-color);
}


.logo {
color: var(--title-text-color);
font-family: Raleway;
text-transform: uppercase;
font-weight: 800;
text-decoration: none;	
line-height: 1.3;
letter-spacing: 0.03em;
font-size: 18px;
}

.logo-firstpart {
color: var(--accent-color);
}

/* Site Nav */
.main-nav {
display: flex;
}

.nav-container {
display: flex;
align-items: center;

}
.nav-list {
display: flex;
margin-left: 77px;
gap: 40px;
}



.nav-link {
	position: relative;
display: block;
padding-top:24px ;
padding-bottom:24px ;
color: var(--title-text-color);
font-weight: 600;
text-decoration: none;
font-style: normal;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
color: var(--button-active-color);
}

.nav-link.active {
	color: var(--button-active-color)
}

.nav-list .nav-link:active {
color: var(--accent-color);
}

.nav-link.active::after,
.nav-link:hover::after {
	position: absolute;
	left: 0;
	bottom: -1px;
	content: "";
	display: block;
	border-radius: 2px;
	width: 100%;
	height: 4px;
	background-color: var(--button-active-color);
}

/* Contacts-nav */

.contacts-container {
margin-left: auto;
}

.contacts-list {
display: flex;
gap: 40px;
}



.contacts-link {
display: block;
padding-top: 24px;
padding-bottom: 24px;
color: var(--primary-text-color);
text-decoration: none;
font-style: normal;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
color: var(--button-active-color);
}

/* Hero */

.section-hero {	
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
padding: 188px 0;
height: 600px;
text-align: center;
background-image: linear-gradient(to right,rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
url("../images/hero/hero.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-color: var(--title-text-color);
}

.hero-title {
margin-top: 0;
margin-left: auto;
margin-right: auto;
width: 494px;
color: var(--white-color);
font-weight: 600;
font-size: 56px;
line-height: 1.07;
}

.hero-button {
display: inline-block;
min-width:170px;
padding: 16px 32px;
background-color:  var(--accent-color);
color: var(--white-color);
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.04em;
border-radius: 4px;
border: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
background-color: var(--button-active-color);
}


/* Advantages */

.advantages-list,
.products-list,
.team-list {
display: flex;
}

.advantages-list {
	gap: 24px;
}

.advantages-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 112px;
	background-color: var(--secondary-background-color);
	border-radius: 4px;
	margin-bottom: 8px;
}

.advantages-icon {
	width: 60px;
	height: 64px;

}

.advantages-title{
margin-top: 0;
margin-bottom: 8px;
color: var(--title-text-color);
font-weight: 500;
line-height: 1.2;
font-size: 20px;
}

.advantages-text {
	margin: 0;
	width: 264px;
}

/* Products */

.section-title {
margin-top: 0;
margin-bottom: 72px;
color:var(--title-text-color);
font-size: 36px;
text-transform: capitalize;
text-align: center ;
line-height: 1.11;
font-weight: 600;
}

.products-list {
	gap: 24px;
}

/* Team */
.section-team {
	background-color: var(--secondary-background-color);
	text-align: center;
}

.team-text{
margin-top: 0;
margin-bottom: 8px;
}

.team-list {
	gap: 24px;
}

.team-item  {
	padding-bottom: 32px;
width: calc((100% - 3 * 24px) / 4);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
background-color: var(--white-color);
}

.team-subtitle {
margin: 0;
margin-top: 32px;
margin-bottom: 8px;
color: var(--title-text-color);
font-weight: 500;
line-height: 1.2;
font-size: 20px;
}

.social-list {
	display: flex;
	margin-top: 8px;
	justify-content: center;
	gap: 24px;
}

.social-item {
	width: 40px;
	height: 40px;
}


.team-icon {
	width: 16px;
	height: 16px;

}

.team-link {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: var(--accent-color);
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
	background-color: var(--button-active-color);
}

/* Brand */

.section-brand {
	padding-top: 130px;
}

.brand-list {
display: flex;
gap: 24px;
}

.brand-item {
width: 168px;

}

.brand-link {
display: flex;
justify-content: center;
align-items: center;
height: 88px;
width: 100%;
border: 1px solid var(--brand-icon-color);
border-radius: 4px;
fill: var(--brand-icon-color);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.brand-link:hover,
.brand-link:focus {
border-color: var(--button-active-color);
fill: var(--button-active-color);

}

.brand-icon {
width: 104px;
height: 56px;

}


/* Footer */

.page-footer{
padding-top: 100px;
padding-bottom: 100px;
background-color: var(--title-text-color);
}

.footer-container {
display: flex;
width: 1158px;
margin-left: auto;
margin-right: auto;padding: 0 15px;
}

/*  footer logo */

.logo-footer {
	margin-bottom: 16px;
	display: inline-block;
	line-height: 1.16;


	color: var(--title-text-color);
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 800;
	text-decoration: none;
	letter-spacing: 0.03em;
	font-size: 18px;
}

.logo-lastpart {
	color: var(--secondary-background-color)
}

.footer-text {
	margin: 0;
	width: 264px;
	color: var(--secondary-accent-color);
}

.footer-social-title {
margin: 0;
margin-bottom: 16px;
font-weight: 500;
color: var(--white-color);
}

.footer-social-list {
	display: flex;
	gap: 16px;
}

.footer-social-item {
	width: 40px;
	height: 40px;

}

.footer-social-link {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}
.footer-social-link:hover,
.footer-social-link:focus {
background-color: var(--footer-icon-hover);

}

.footer-social-container {
margin-left: 120px;

}

.footer-social-icon {
width: 24px;
height: 24px;
}

/* Footer form */

.footer-form-container {
	display: flex;
	flex-direction: column;
	margin-left: 80px;
}


.footer-form {
	height: 40px;
	display: flex;
}

.footer-form-title {
	margin-top: 0;
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white-color)
}

.footer-plain-icon {
width: 24px;
height: 24px;
fill: var(--white-color);
margin-left: 16px;
}

.footer-form-button {
background-color: var(--accent-color);
padding: 8px 24px;
border-radius: 4px;
border-color: transparent;
font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
display: flex;
justify-content: center;
align-items: center;
	letter-spacing: 0.04em;
	color: var(--white-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-form-button:active {
	background: #404BBF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-input {
	color: var(--white-color);
	caret-color: var(--white-color);
	padding-left: 16px;
	outline: none;
	width: 264px;
	margin-right: 24px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	background-color: transparent;
}

.footer-form-input::placeholder {
font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.6);
}


/* PORTFOLIO.html */


/* Examples nav */

.section-examples {
padding-top: 96px;
padding-bottom: 120px;
}

.examples-nav-list {
display: flex;
justify-content: center;
margin-bottom: 72px;
gap: 24px;
}

.examples-nav-button {
padding: 12px 24px;
background-color: var(--secondary-background-color);
color: var(--accent-color);
font-family: Roboto;
font-weight: 600;
line-height: 1.5;
border: 1px solid var(--secondary-accent-color);
border-radius: 4px;
letter-spacing: 0.04em;
border-color: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.examples-nav-button:hover,
.examples-nav-button:focus {
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
background-color: var(--button-active-color);
	color: var(--white-color);
}


/* Examples */

.examples-list {
display: flex;
flex-wrap: wrap;
	
}

.examples-item {
	margin-right: 24px;
	margin-bottom: 48px;
	width: 360px;
	background-color: var(--white-color);
}

.examples-item:nth-last-child(-n + 3) {
	margin-bottom: 0;

}

.examples-item:nth-child(3n) {
	margin-right: 0;
}

.examples-link {
	display: block;
text-decoration: none;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.examples-link:hover,
.examples-link:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples-subtitle {
	margin-top: 0;
	margin-bottom: 8px;
	color: var(--title-text-color);
	font-weight: 500;
	line-height: 1.2;
	font-size: 20px;
}

.examples-text {
color: var(--primary-text-color);
margin: 0;

}

.examples-thumb-top {
	position: relative;
	overflow: hidden; 		
}

.examples-thumb-bottom {
	padding: 32px 0 32px 16px;
	border: 1px solid var(--secondary-accent-color);

}

.examples-overlay {
position:absolute;
top:0;
bottom: 0;
width: 100%;
height: 100%;
padding: 40px 32px 164px;
background-color: var(--accent-color);
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:hover .examples-overlay,
.examples-link:focus .examples-overlay {
	transform: translateX(0);
}

.examples-overlay-text {
	color: var(--secondary-background-color);
	
}



/* Modal */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(1.1);
}

.modal {
	padding: 72px 24px 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	height: auto;
	width: 408px;
	background-color: var(--modal-window-color);
}

.modal-button {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	top: 24px;
	right: 24px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background-color: var(--secondary-accent-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

.modal-button:active,
.modal-button:hover,
.modal-button:focus {
	background-color: var(--button-active-color);
	fill: var(--white-color);
}

.modal-button:active .icon-modal {
	fill: var(--white-color);
}

.modal-icon {
	width: 8px;
	height: 8px;

}


/* Form */

.modal-form-title {
	margin: 0;
	margin-bottom: 14px;
text-align: center;
font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color:var(--title-text-color);
}

.modal-form-item {
	margin-top: 8px;
	margin-bottom: 8px;
}

.modal-form-label {
	display: flex;
	flex-direction: column;
}

.modal-form-input {
	padding-left: 38px;
	outline: none;
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
	border: 1px solid var(--accent-color);

}

.modal-form-input:focus+.modal-form-icon.name,
.modal-form-input:focus+.modal-form-icon.phone,
.modal-form-input:focus+.modal-form-icon.email {
	fill: var(--accent-color);

}

.modal-form-link,
.modal-form-link:active {
	color:var(--accent-color);
	margin-left: 4px;
}

.modal-form-label[for="user-name"], 
.modal-form-label[for="user-tel"],
.modal-form-label[for="user-email"],
.modal-form-label[for="user-comment"] {
	margin-bottom: 4px;
color:var(--brand-icon-color);
letter-spacing: 0.01em;
font-size: 12px;
	line-height: 1.16;
}


.modal-form-item>.modal-form-label[for="user-name"],
.modal-form-label[for="modal-input-checkbox"] {
	letter-spacing:0.04em;
}


.modal-textarea-container {
	position: relative;
}

.modal-textarea {
	padding-left: 16px;
	padding-top: 6px;
	display: block;
	outline: none;
	margin-left: auto;
	margin-right: auto;
	resize: none;
	width: 100%;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-textarea:focus {
	border: 1px solid var(--accent-color);
}

.modal-textarea::placeholder {

font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
position: absolute;
color: rgba(117, 117, 117, 0.5);
top:8px;
left: 16px;
}

.modal-input-checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.modal-form-button {
	width: 169px;
		height: 56px;
	padding: 16px 32px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
   letter-spacing: 0.04em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: var(--white-color);
	background-color: var(--accent-color);
	border-radius: 4px;
	border-color: transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.modal-form-button:active,
.modal-form-button:hover,
.modal-form-button:focus {
background: #404BBF;
}

.modal-form-label[for="modal-input-checkbox"] {
	display: flex;
	align-items: center;
	flex-direction: row;
	color: var(--form-text-color);
	font-size: 12px;
	margin-top: 16px;
		margin-bottom: 24px;
		user-select: none;
}

.modal-checkbox-icon {
	margin-right: 8px ;
	border: 1.25px solid var(--title-text-color);
	border-radius: 2px;
	width: 16px;
	height: 16px;
	fill: transparent;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}

.modal-input-checkbox:checked + .modal-checkbox-icon {
padding: 3px 4px;
fill:var(--secondary-background-color);
background-color:var(--button-active-color);
border: transparent;
}

.modal-form-icon {
	position: absolute;
	display: inline-block;
	fill: var(--title-text-color);
	bottom: 8px;
	left: 16px;
	width: 18px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon.name {
	height: 18px;
	bottom: 11px;
}

.modal-form-icon.phone,
.modal-form-icon.email {
	width: 18px;
	height: 24px;

}


.modal-form-field.name,
.modal-form-field.phone,
.modal-form-field.email {
	position: relative;
}