.page-header {
	background-color: $white-color;
	border-bottom: 1px solid $secondary-accent-color;
}

.logo {
	padding-top: 24px;
	padding-bottom: 24px;
	color: $title-text-color;
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 1.3;
	letter-spacing: 0.03em;
	font-size: 18px;
}

.logo-firstpart {
	color: $accent-color;
}

/* Site Nav */

.main-nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-container,
.contacts-container {
	display: none;
}

.menu-button {
	line-height: 0;
	margin: 0;
	padding: 0;
	display: block;
	background-color: transparent;
	border: none;
}

.icon-burger {
	width: 30px;
	height: 19px;
	display: inline-block;
fill:$title-text-color;	
}

