.section-advantages {}



.section {}

.container {}

.visually-hidden {}

.advantages-list {}

.list {}

.advantages-item {}


@media screen and (max-width: 767px){
.advantages-item:not(:last-child) {
		margin-bottom: 72px;
	}
}

@media screen and (min-width: 768px) {
	.advantages-list {
		display: flex;
		flex-wrap: wrap;
	}
.advantages-item {
	width: calc((100% - 24px) / 2);
}
.advantages-text {
	max-width: 356px;
}
		}


.advantages-bg {
	display: none;
}

.advantages-icon {
	display: none;
}

.advantages-title {
	margin-bottom: 8px;
	text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
color: $title-text-color;
}

.advantages-text {
font-weight: 500;
}